version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
    time: "11:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "@types/node"
    versions:
    - "> 13.11.1"
  - dependency-name: "@types/requirejs"
    versions:
    - "> 2.1.31"
